@import url('https://fonts.googleapis.com/css?family=Bebas+Neue&display=swap');

* {
	margin: 0 auto;
	font-family: 'Bebas Neue';
}

.App {
	transition: 0.3s linear;
}

body {
	background: url('./assets/smurf-bg.png') no-repeat center center/cover;
}

.titleContainer {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	margin-top: 3rem;
	background-color: rgba(69, 169, 216, 0.33);
	box-shadow: 1rem 1rem 20rem 100rem rgba(69, 169, 216, 0.33);
	transition: 1s linear;
	width: 61%;
	height: 0rem;
}

.titleContainer:hover {
	background-color: rgba(243, 241, 239, 0.33);
	box-shadow: 1rem 1rem 20rem 100rem rgba(243, 241, 239, 0.33);
}

.smurfTitle {
	font-size: 8.5rem;
	letter-spacing: 0.3rem;
	color: rgba(255, 255, 255, 0.99);
	box-shadow: 1rem 1rem 3.5rem 5rem rgba(69, 169, 216, 0.22);
	background-color: rgba(69, 169, 216, 0.22);
	width: 16%;
	height: 0rem;
	border: transparent;
	border-radius: 10rem;
	transition: 0.8s ease-in-out;
}

.smurfTitle:hover {
	font-size: 11.5rem;
	color: rgba(142, 148, 242, 0.88);
}

.imgContainer {
	height: 25rem;
	width: 25rem;
	transition: 0.3s linear;
}

.smurfImg {
	content: url('./assets/smurf.png');
	height: 25rem;
	width: 25rem;
	transition: 1.1s ease-out;
	transition-delay: 0.3s;
	background-color: rgba(69, 169, 216, 0.55);
	box-shadow: 1rem 1rem 3rem 4rem rgba(69, 169, 216, 0.55);
	border: transparent;
	border-radius: 20rem;
}

.smurfImg:hover {
	height: 34rem;
	width: 34rem;
	transform: translate(5rem, 10rem);
	box-shadow: 1rem 1rem 3rem 4rem rgba(243, 241, 239, 0.55);
	background-color: rgba(243, 241, 239, 0.55);
	border: transparent;
	border-radius: 20rem;
}

.smurfForm {
	text-align: center;
	margin: 12rem 0 5rem;
	box-shadow: 3rem 3rem 5rem 7rem rgba(255, 255, 255, 0.22);
	background-color: rgba(255, 255, 255, 0.22);
	border: transparent;
	border-radius: 8rem;
	transition: 0.3s;
}

.smurfInput {
	font-size: 1.6rem;
	text-align: center;
	letter-spacing: 0.4rem;
	padding: 2.5rem 11.5rem;
	margin: -0.5rem;
	border: transparent;
	color: rgba(69, 169, 216, 0.88);
	box-shadow: 0.2rem 1rem 6rem 1.5rem rgba(255, 169, 216, 0.88);
	border-radius: 0.5rem;
	outline: transparent;
	transition: 0.5s linear;
}

.smurfInput:focus {
	box-shadow: 0.2rem 0.2rem 2rem 0.2rem rgba(243, 241, 239, 0.88);
	border-right: 0.1rem solid rgba(200, 200, 200, 0.6);
	border-left: 0.1rem solid rgba(200, 200, 200, 0.6);
}

.smurfInput::-webkit-input-placeholder {
	font-size: 1.5rem;
	transition: 0.3s linear;
	opacity: 0.5;
}

.smurfInput:focus::-webkit-input-placeholder {
	color: transparent;
}

.btn {
	display: flex;
	margin: 0 auto;
	font-size: 4rem;
	font-weight: 100;
	letter-spacing: 0.4rem;
	padding: 1.2rem 18rem;
	border-radius: 0.5rem;
	outline: transparent;
	border: 0.1rem solid rgba(0, 0, 0, 0.22);
	background-color: rgba(177, 25, 232, 0.22);
	box-shadow: 0.2rem 0.2rem 2rem 0.2rem rgba(243, 241, 239, 0.66);
	color: rgba(255, 255, 255, 0.88);
	transition: 0.5s linear;
}

.btn:hover {
	background-color: rgba(255, 169, 216, 0.66);
	border: 0.1rem solid rgba(255, 255, 255, 0.77);
	box-shadow: 0.2rem 0.2rem 2rem 0.2rem rgba(243, 241, 239, 0.88);
}

.smurfContainer {
	display: flex;
	justify-content: space-evenly;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
	margin: 9rem 15rem;
	transition: 0.5s linear;
}

.smurfCard {
	font-size: 1.8rem;
	letter-spacing: 0.3rem;
	line-height: 3.3rem;
	background-color: rgba(243, 241, 239, 1);
	padding: 3.5rem 5rem;
	margin: 1rem 6rem 4rem;
	border-radius: 5%;
	height: 12rem;
	width: 18rem;
	transition: 0.3s linear;
	text-align: center;
	box-shadow: 0.2rem 1rem 5rem 1.5rem rgba(243, 241, 239, 0.88);
	transition: 0.5s linear;
}

.smurfCard:hover {
	box-shadow: 0.2rem 0.2rem 2rem 0.2rem rgba(255, 169, 216, 0.88);
}

.deleteBtn {
	margin-top: 2rem;
	height: 6rem;
	width: 6rem;
	background-color: rgba(243, 241, 239, 1);
	border: transparent;
	border-radius: 6rem;
	outline: transparent;
	transition: 0.5s ease-in-out;
}

.deleteBtn:not(:active) {
	transition-delay: 0.05s;
}

.deathContainer {
	position: relative;
	display: flex;
	transition-delay: 0.05s;
}

.imTooYoungToDie {
	content: url('./assets/smurf.png');
	width: 5rem;
	height: 5rem;
	background-color: rgba(243, 241, 239, 1);
	border-radius: 6rem;
	border: transparent;
	transition: 0.2s linear;
}

.imTooYoungToDie:hover {
	background-color: rgba(255, 169, 216, 0.77);
	box-shadow: 0.2rem 0.2rem 2rem 2rem rgba(255, 169, 216, 0.77);
}

.imTooYoungToDie:active {
	height: 25rem;
	width: 25rem;
	transform: translate(0rem, -90rem);
	box-shadow: 1rem 1rem 3rem 4rem rgba(255, 0, 0, 0.88);
	background-color: rgba(255, 0, 0, 0.88);
	border: transparent;
	border-radius: 25rem;
}

.deleteSmurf {
	transition: 0.5s linear;
	transition-delay: 0.4s;
}

.deathContainer .deleteSmurf {
	visibility: hidden;
	width: 14rem;
	margin: 2.1rem 6rem;
	padding: 0.2rem;
	font-size: 1.6rem;
	letter-spacing: 0.075rem;
	text-align: center;
	color: rgba(243, 241, 239, 1);
	background-color: rgba(255, 169, 216, 0.77);
	border-radius: 4rem;
	border: transparent;
	position: absolute;
}

.deathContainer:hover .deleteSmurf {
	visibility: visible;
}
